altgraph==0.17
args==0.1.0
autopep8==1.5.7
beautifulsoup4==4.9.3
branca==0.4.2
bs4==0.0.1
camera==1.3.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
clint==0.5.1
colorama==0.4.4
comtypes==1.1.10
configparser==5.0.2
crayons==0.4.0
cssselect2==0.4.1
dateparser==1.0.0
dlib==19.22.0
docopt==0.6.2
face-recognition @ file:///C:/Users/maybe/Downloads/face_recognition-1.3.0-py2.py3-none-any.whl
face-recognition-models==0.3.0
Faker==8.11.0
folium==0.12.1
future==0.18.2
google-search-results==2.1.0
GoogleNews==1.5.8
idna==2.10
inputimeout==1.0.4
itsdangerous==2.0.0
jaraco.context==4.0.0
Jinja2==3.0.0
Lasagne==0.1
Library==0.0.0
lxml==4.6.3
MarkupSafe==2.0.0
more-itertools==8.7.0
MouseInfo==0.1.3
numpy==1.20.3
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.52
pandas==1.3.0
pefile==2021.5.24
Pillow==8.2.0
pipreqs==0.4.10
pyasn1==0.4.8
PyAudio @ file:///C:/Users/maybe/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycodestyle==2.7.0
pycryptodome==3.10.1
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyjokes==0.6.0
PyJWT==1.7.1
PyMsgBox==1.0.9
pynput==1.7.3
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
PyRect==0.1.4
PyScreeze==0.1.27
PySimpleGUI==4.43.0
python-dateutil==2.8.1
python-pptx==0.6.19
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pywhatkit==4.7
pywikihow==0.5.7
pywin32==300
pywin32-ctypes==0.2.0
regex==2021.4.4
reportlab==3.5.59
requests==2.25.1
requests-cache==0.6.3
rsa==4.7.2
scipy==1.7.1
secure-smtplib==0.1.1
selenium==3.141.0
SimpleCV==1.3
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
svglib==1.0.1
tabulate==0.8.9
text-unidecode==1.3
tinycss2==1.1.0
toml==0.10.2
twilio==6.59.1
tzlocal==2.1
ujson==4.0.2
url-normalize==1.4.3
URLEncoder==1.1
urllib3==1.26.4
webdriver-manager==3.4.1
webencodings==0.5.1
wikipedia==1.4.0
wolframalpha==5.0.0
xinput==0.1.3
XlsxWriter==1.4.3
xmltodict==0.12.0
yarg==0.1.9
